<div class="container"><a href="/">&leftarrow; вернуться на главную</a></div>
<main class="container">
    <div class="col-md-9">{{{text}}}</div>
    <div class="col-md-3">
        <ul class="nav nav-pills">
            {{#each tasks}}
                <li class="{{#if active}}active{{/if}}"><a href="/{{name}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>

</main>
<footer class="container">
    &copy; 2016
</footer>
